$dark-color: #1a201e;
$pink-color: #E27128;

// Responsive mixins
// Bootstrap breakpoints



@mixin small {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

.container {
  margin: auto;
  width: auto;
  position: relative;

  @include small {
    width: 600px;
  }

  @include medium {
    width: 980px;
  }

  @include large {
    width: 1200px;
  }

  display: flex;
  justify-content: center;
}

.app {
  & > header {
    min-height: 100px;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;


    h1 {
      text-align: center;
      font-size: 40px;
      width: max-content;
      margin: 0;
      color: black;
      font-family: 'Jacques Francois', serif;
    }

    & > nav {
  
      & ul {
        list-style: none;
        margin: 0;
        padding: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
  
        & > li {
          font-size: 1.5vw;
          max-width: max-content;
          white-space: nowrap;
          font-family: 'Jacques Francois', serif;
  
          @include small {
            font-size: 25px;
          }
  
          &:not(:last-child) {
            ::after {
              content: "•";
              padding: 0 10px;
            }
          }
  
          & > a {
            color: $dark-color;
  
            &:hover {
              color: $pink-color;
            }
  
            &:focus {
              color: $pink-color;
              outline: none;
            }
          }
        }
      }
  
      // & a {
      //   font-family: 'Roboto Mono', monospace!important;
  
      // }
    }
  }


  & > main {
    padding: 15px;
    border: 5px solid black;
    height: 1000px;
    display: block;
    background-color: #fff;
  }
}
